body {
    background-color: #ccc;
    font-family: Helvetica, sans-serif;
}

nav {
    background-color: #636363;
}

.navcontainer {
    width:100%;
    border:solid;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 0px;
    padding-left: 0px;
}

li {
    display: inline;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.navcontainer li {
    padding-left: 20px;
    font-weight: 600;
}

section {
    display: flex;
    flex-direction: column;
}

article {
    background: darkgray;
    height: 250px;
    box-shadow: rgba(0,0,0,0.1) 0 20px 20px;
    padding: 20px;
    margin: 20px;
}

.bio {
    background-color: #aaa;
    border-radius: 15px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 450px;
    text-align: center;
    box-shadow: rgba(0,0,0,0.1) 0 20px 20px;
    border: 1px solid #aaa;
}

.bio .icon {
    box-shadow: rgba(0,0,0,0.1) 0 50px 50px;
    width: 225px;
    border-radius: 50%;
    margin-top: -75px;
}

.bio h1 {
    font-size: 250%;
}

.bio h2 {
    font-size: 175%
}

.bio p {
    font-size: 125%;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
}

.exp {
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}

.exp p {
    font-size: 125%;
}

@media (max-width: 600px ) {
    .bio {
        margin-left: 20px;
        margin-right: 20px;
    }
}